@import url("https://fonts.googleapis.com/css2?family=Kode+Mono");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

body {
  overflow: hidden;
  margin: 0;
  background-color: #2F4252;
}

#bgimage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

#container {
  margin: 0;
  position: absolute;
}

#circleStar {
  position: relative;
  left: 30px;
  top: 30px;
  width: 50px;
  height: 50px;
  border-right: 5px #FFFFFF solid;
  border-left: 5px #FFFFFF solid;
  border-bottom: 10px #FFFFFF solid;
  border-radius: 50px;
  z-index: 1;
}

#nav {
  position: relative;
  left: 62vw;
  top: -30px;
  height: 50px;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(47, 66, 82, .5);
}

#nav li {
  float: left;
}

#nav p {
  display:inline-block;
  font-family: "Kode Mono", monospace;
  margin: auto;
  color: rgba(255,255,255, .5);
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  transition: 1s;
}

#nav p:hover {
  color: #FFFFFF;
  background-color: rgba(103, 116, 128, 0.616);
  fill-opacity: 0.5;
  scale: 1.1;
  transition: 1s;
  cursor: pointer;
  border-bottom: #FFFFFF solid 10px;
}

#nav a {
  display:inline-block;
  font-family: "Kode Mono", monospace;
  margin: auto;
  color: rgba(255,255,255, .5);
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  transition: 2s;
}

#content {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#content h1 {
  position: relative;
  left: 50px;
  top: -25px;
  color: #FFFFFF;
  font-size: 85px;
  font-family: "Roboto", sans-serif;
}

#content h2 {
  position: relative;
  left: 58px;
  top: 45px;
  color: rgba(255,255,255, .8);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

#content h3 {
  position: relative;
  left: 58px;
  top: -90px;
  color: rgba(255,255,255, .8);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}